*{
    box-sizing: border-box;
    /* border: 1px solid blue; */
    margin:0;
    padding: 0;
}
:root {
    --background: #a0c9c9;
    --error:#df5823f6;
    --white: #ffffff;
    --button:#269baad8 ;
}
nav{
    background-color: #a0c9c9;
    color: var(--white);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
::placeholder {
        
    /* Firefox, Chrome, Opera */
    color: rgba(114, 114, 114, 0.37);
}
  
:-ms-input-placeholder {
    
    /* Internet Explorer 10-11 */
    color:  rgba(114, 114, 114, 0.548);
}
  
::-ms-input-placeholder {
    
    /* Microsoft Edge */
    color:  rgba(114, 114, 114, 0.548);
}